body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:539px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:70px;
}
#u2777 {
  position:absolute;
  left:110px;
  top:495px;
  width:210px;
  height:70px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:18px;
}
#u2778 {
  position:absolute;
  left:2px;
  top:26px;
  width:206px;
  word-wrap:break-word;
}
#u2779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.447058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2779 {
  position:absolute;
  left:439px;
  top:140px;
  width:100px;
  height:100px;
  font-size:16px;
}
#u2780 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  word-wrap:break-word;
}
#u2781_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.447058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2781 {
  position:absolute;
  left:439px;
  top:310px;
  width:100px;
  height:100px;
  font-size:16px;
}
#u2782 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  word-wrap:break-word;
}
#u2783_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u2783 {
  position:absolute;
  left:439px;
  top:807px;
  width:100px;
  height:100px;
  font-size:16px;
}
#u2784 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  word-wrap:break-word;
}
#u2785_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.447058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2785 {
  position:absolute;
  left:439px;
  top:472px;
  width:100px;
  height:100px;
  font-family:'', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2786 {
  position:absolute;
  left:2px;
  top:41px;
  width:96px;
  word-wrap:break-word;
}
#u2787_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 153, 0.447058823529412);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2787 {
  position:absolute;
  left:439px;
  top:649px;
  width:100px;
  height:100px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:16px;
}
#u2788 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  word-wrap:break-word;
}
#u2789 {
  position:absolute;
  left:439px;
  top:190px;
  width:0px;
  height:0px;
}
#u2789_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u2789_seg1 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:8px;
  height:348px;
}
#u2789_seg2 {
  position:absolute;
  left:-119px;
  top:336px;
  width:34px;
  height:8px;
}
#u2790 {
  position:absolute;
  left:-139px;
  top:132px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2791 {
  position:absolute;
  left:439px;
  top:360px;
  width:0px;
  height:0px;
}
#u2791_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u2791_seg1 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:8px;
  height:178px;
}
#u2791_seg2 {
  position:absolute;
  left:-119px;
  top:166px;
  width:34px;
  height:8px;
}
#u2792 {
  position:absolute;
  left:-139px;
  top:48px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2793 {
  position:absolute;
  left:439px;
  top:857px;
  width:0px;
  height:0px;
}
#u2793_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u2793_seg1 {
  position:absolute;
  left:-93px;
  top:-247px;
  width:8px;
  height:251px;
}
#u2794 {
  position:absolute;
  left:-139px;
  top:-87px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2795 {
  position:absolute;
  left:439px;
  top:522px;
  width:0px;
  height:0px;
}
#u2795_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u2795_seg1 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:8px;
  height:92px;
}
#u2796 {
  position:absolute;
  left:-138px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2797 {
  position:absolute;
  left:439px;
  top:699px;
  width:0px;
  height:0px;
}
#u2797_seg0 {
  position:absolute;
  left:-93px;
  top:-4px;
  width:93px;
  height:8px;
}
#u2797_seg1 {
  position:absolute;
  left:-93px;
  top:-9px;
  width:8px;
  height:13px;
}
#u2798 {
  position:absolute;
  left:-99px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2799_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#3A94ED;
}
#u2799 {
  position:absolute;
  left:56px;
  top:50px;
  width:433px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#3A94ED;
}
#u2800 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  word-wrap:break-word;
}
