body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1856px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#3A94ED;
}
#u822 {
  position:absolute;
  left:46px;
  top:40px;
  width:674px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#3A94ED;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  word-wrap:break-word;
}
#u824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u824 {
  position:absolute;
  left:185px;
  top:370px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u825 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u826 {
  position:absolute;
  left:520px;
  top:370px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  line-height:36px;
}
#u827 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u828 {
  position:absolute;
  left:854px;
  top:370px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  line-height:36px;
}
#u829 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u830 {
  position:absolute;
  left:1189px;
  top:370px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u831 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u832 {
  position:absolute;
  left:1524px;
  top:370px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u833 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u834 {
  position:absolute;
  left:1022px;
  top:787px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u835 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u836 {
  position:absolute;
  left:687px;
  top:787px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u837 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u838 {
  position:absolute;
  left:1667px;
  top:442px;
  width:0px;
  height:0px;
}
#u838_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u838_seg1 {
  position:absolute;
  left:44px;
  top:-4px;
  width:8px;
  height:425px;
}
#u838_seg2 {
  position:absolute;
  left:-502px;
  top:413px;
  width:554px;
  height:8px;
}
#u838_seg3 {
  position:absolute;
  left:-507px;
  top:407px;
  width:20px;
  height:20px;
}
#u839 {
  position:absolute;
  left:-44px;
  top:409px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u840 {
  position:absolute;
  left:1022px;
  top:859px;
  width:0px;
  height:0px;
}
#u840_seg0 {
  position:absolute;
  left:-192px;
  top:-4px;
  width:196px;
  height:8px;
}
#u840_seg1 {
  position:absolute;
  left:-197px;
  top:-10px;
  width:20px;
  height:20px;
}
#u841 {
  position:absolute;
  left:-146px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842 {
  position:absolute;
  left:687px;
  top:859px;
  width:0px;
  height:0px;
}
#u842_seg0 {
  position:absolute;
  left:-562px;
  top:-4px;
  width:562px;
  height:8px;
}
#u842_seg1 {
  position:absolute;
  left:-562px;
  top:-421px;
  width:8px;
  height:425px;
}
#u842_seg2 {
  position:absolute;
  left:-562px;
  top:-421px;
  width:60px;
  height:8px;
}
#u842_seg3 {
  position:absolute;
  left:-517px;
  top:-427px;
  width:20px;
  height:20px;
}
#u843 {
  position:absolute;
  left:-566px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844 {
  position:absolute;
  left:328px;
  top:442px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#666666;
}
#u844_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u844_seg1 {
  position:absolute;
  left:177px;
  top:-10px;
  width:20px;
  height:20px;
}
#u845 {
  position:absolute;
  left:46px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u846 {
  position:absolute;
  left:663px;
  top:442px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#666666;
}
#u846_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:195px;
  height:8px;
}
#u846_seg1 {
  position:absolute;
  left:176px;
  top:-10px;
  width:20px;
  height:20px;
}
#u847 {
  position:absolute;
  left:46px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u848 {
  position:absolute;
  left:997px;
  top:442px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#666666;
}
#u848_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u848_seg1 {
  position:absolute;
  left:177px;
  top:-10px;
  width:20px;
  height:20px;
}
#u849 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:1332px;
  top:442px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#666666;
}
#u850_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u850_seg1 {
  position:absolute;
  left:177px;
  top:-10px;
  width:20px;
  height:20px;
}
#u851 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u852 {
  position:absolute;
  left:1024px;
  top:431px;
  width:130px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u854 {
  position:absolute;
  left:592px;
  top:513px;
  width:0px;
  height:0px;
}
#u854_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u854_seg1 {
  position:absolute;
  left:-339px;
  top:33px;
  width:343px;
  height:8px;
}
#u854_seg2 {
  position:absolute;
  left:-339px;
  top:0px;
  width:8px;
  height:41px;
}
#u854_seg3 {
  position:absolute;
  left:-345px;
  top:-5px;
  width:20px;
  height:20px;
}
#u855 {
  position:absolute;
  left:-218px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:83px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u856 {
  position:absolute;
  left:382px;
  top:510px;
  width:78px;
  height:83px;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u857 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u858 {
  position:absolute;
  left:600px;
  top:512px;
  width:0px;
  height:0px;
}
#u858_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u858_seg1 {
  position:absolute;
  left:-4px;
  top:34px;
  width:669px;
  height:8px;
}
#u858_seg2 {
  position:absolute;
  left:657px;
  top:1px;
  width:8px;
  height:41px;
}
#u858_seg3 {
  position:absolute;
  left:651px;
  top:-4px;
  width:20px;
  height:20px;
}
#u859 {
  position:absolute;
  left:280px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u860 {
  position:absolute;
  left:712px;
  top:535px;
  width:96px;
  height:28px;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u861 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u862 {
  position:absolute;
  left:1538px;
  top:522px;
  width:119px;
  height:55px;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u863 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u864_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:172px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:24px;
}
#u864 {
  position:absolute;
  left:538px;
  top:168px;
  width:110px;
  height:172px;
  font-size:16px;
  line-height:24px;
}
#u865 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:198px;
}
#u866 {
  position:absolute;
  left:418px;
  top:168px;
  width:110px;
  height:198px;
  font-size:16px;
  line-height:24px;
}
#u867 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:201px;
}
#u868 {
  position:absolute;
  left:658px;
  top:168px;
  width:110px;
  height:201px;
  font-size:16px;
  line-height:24px;
}
#u869 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#3A94ED;
}
#u870 {
  position:absolute;
  left:46px;
  top:1019px;
  width:674px;
  height:40px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:#3A94ED;
}
#u871 {
  position:absolute;
  left:0px;
  top:0px;
  width:674px;
  word-wrap:break-word;
}
#u872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:90px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u872 {
  position:absolute;
  left:1766px;
  top:1551px;
  width:90px;
  height:90px;
}
#u873 {
  position:absolute;
  left:2px;
  top:37px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u874 {
  position:absolute;
  left:185px;
  top:1356px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  line-height:36px;
}
#u875 {
  position:absolute;
  left:2px;
  top:36px;
  width:139px;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u876 {
  position:absolute;
  left:520px;
  top:1356px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  line-height:36px;
}
#u877 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u878 {
  position:absolute;
  left:854px;
  top:1356px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  line-height:36px;
}
#u879 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u880 {
  position:absolute;
  left:1189px;
  top:1356px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u881 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u882 {
  position:absolute;
  left:1524px;
  top:1356px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u883 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u884 {
  position:absolute;
  left:1022px;
  top:1773px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u885 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:143px;
}
#u886 {
  position:absolute;
  left:687px;
  top:1773px;
  width:143px;
  height:143px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
  line-height:36px;
}
#u887 {
  position:absolute;
  left:2px;
  top:54px;
  width:139px;
  word-wrap:break-word;
}
#u888 {
  position:absolute;
  left:1667px;
  top:1428px;
  width:0px;
  height:0px;
}
#u888_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u888_seg1 {
  position:absolute;
  left:44px;
  top:-4px;
  width:8px;
  height:425px;
}
#u888_seg2 {
  position:absolute;
  left:-502px;
  top:413px;
  width:554px;
  height:8px;
}
#u888_seg3 {
  position:absolute;
  left:-507px;
  top:407px;
  width:20px;
  height:20px;
}
#u889 {
  position:absolute;
  left:-45px;
  top:409px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890 {
  position:absolute;
  left:1022px;
  top:1845px;
  width:0px;
  height:0px;
}
#u890_seg0 {
  position:absolute;
  left:-192px;
  top:-4px;
  width:196px;
  height:8px;
}
#u890_seg1 {
  position:absolute;
  left:-197px;
  top:-10px;
  width:20px;
  height:20px;
}
#u891 {
  position:absolute;
  left:-146px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892 {
  position:absolute;
  left:687px;
  top:1845px;
  width:0px;
  height:0px;
}
#u892_seg0 {
  position:absolute;
  left:-562px;
  top:-4px;
  width:562px;
  height:8px;
}
#u892_seg1 {
  position:absolute;
  left:-562px;
  top:-421px;
  width:8px;
  height:425px;
}
#u892_seg2 {
  position:absolute;
  left:-562px;
  top:-421px;
  width:60px;
  height:8px;
}
#u892_seg3 {
  position:absolute;
  left:-517px;
  top:-427px;
  width:20px;
  height:20px;
}
#u893 {
  position:absolute;
  left:-566px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894 {
  position:absolute;
  left:328px;
  top:1428px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#666666;
}
#u894_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u894_seg1 {
  position:absolute;
  left:177px;
  top:-10px;
  width:20px;
  height:20px;
}
#u895 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896 {
  position:absolute;
  left:663px;
  top:1428px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#666666;
}
#u896_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:195px;
  height:8px;
}
#u896_seg1 {
  position:absolute;
  left:176px;
  top:-10px;
  width:20px;
  height:20px;
}
#u897 {
  position:absolute;
  left:46px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u898 {
  position:absolute;
  left:997px;
  top:1428px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#666666;
}
#u898_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u898_seg1 {
  position:absolute;
  left:177px;
  top:-10px;
  width:20px;
  height:21px;
}
#u899 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900 {
  position:absolute;
  left:1332px;
  top:1428px;
  width:0px;
  height:0px;
  font-size:18px;
  color:#666666;
}
#u900_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:196px;
  height:8px;
}
#u900_seg1 {
  position:absolute;
  left:177px;
  top:-10px;
  width:20px;
  height:20px;
}
#u901 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u902 {
  position:absolute;
  left:1024px;
  top:1417px;
  width:130px;
  height:22px;
  font-size:18px;
  color:#666666;
  text-align:center;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u904 {
  position:absolute;
  left:592px;
  top:1499px;
  width:0px;
  height:0px;
}
#u904_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u904_seg1 {
  position:absolute;
  left:-339px;
  top:33px;
  width:343px;
  height:8px;
}
#u904_seg2 {
  position:absolute;
  left:-339px;
  top:0px;
  width:8px;
  height:41px;
}
#u904_seg3 {
  position:absolute;
  left:-345px;
  top:-5px;
  width:20px;
  height:21px;
}
#u905 {
  position:absolute;
  left:-218px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:136px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u906 {
  position:absolute;
  left:382px;
  top:1472px;
  width:78px;
  height:136px;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u908 {
  position:absolute;
  left:600px;
  top:1498px;
  width:0px;
  height:0px;
}
#u908_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u908_seg1 {
  position:absolute;
  left:-4px;
  top:34px;
  width:669px;
  height:8px;
}
#u908_seg2 {
  position:absolute;
  left:657px;
  top:1px;
  width:8px;
  height:41px;
}
#u908_seg3 {
  position:absolute;
  left:651px;
  top:-4px;
  width:20px;
  height:21px;
}
#u909 {
  position:absolute;
  left:280px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u910 {
  position:absolute;
  left:712px;
  top:1521px;
  width:96px;
  height:28px;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u912 {
  position:absolute;
  left:1538px;
  top:1508px;
  width:119px;
  height:55px;
  font-size:18px;
  color:#666666;
  text-align:center;
  line-height:26px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  word-wrap:break-word;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:172px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  line-height:24px;
}
#u914 {
  position:absolute;
  left:538px;
  top:1154px;
  width:110px;
  height:172px;
  font-size:16px;
  line-height:24px;
}
#u915 {
  position:absolute;
  left:2px;
  top:26px;
  width:106px;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:194px;
}
#u916 {
  position:absolute;
  left:202px;
  top:1154px;
  width:110px;
  height:194px;
  font-size:16px;
  line-height:24px;
}
#u917 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:201px;
}
#u918 {
  position:absolute;
  left:658px;
  top:1154px;
  width:110px;
  height:201px;
  font-size:16px;
  line-height:24px;
}
#u919 {
  position:absolute;
  left:2px;
  top:14px;
  width:106px;
  word-wrap:break-word;
}
